.x-panel-body{
    .product-list{
        margin: 10px 0;
        text-align:center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        height:auto;
        .product-item{
            width: 200px;
        }
    }
}
