.x-panel-body{
    .product-list{
        margin: 10px 0;
        text-align:center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        height:auto;
        .product-item{
            width: 200px;
        }
    }
    .image-side{
        margin: 0 10px 0 0;
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
        a{
            left:0;
        }
    }
}

